SOA-WebServices/Sample-Projects/XML-Processor/Schema/Complex/contact.xsd

<?xml version="1.0"?>

 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="addressBook"> <!--Root node-->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="contact" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="contact"> <!--Child node-->
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name"  type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
