SOA-WebServices/Sample-Projects/Web-Services/Xml_demo/Schema/UserNameSpace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:he="HisSpace"> 
            
       
    

	<xs:complexType name="User">
		<xs:sequence>
			<xs:element name = "Eamil_ID" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	 
	<xs:complexType name="User">
		<xs:sequence>
			<xs:element name = "loginID" type="xs:string" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	 
</xs:schema>
