SOA-WebServices/Sample-Projects/XML-Processor/Schema/complexRoot/person0.xsd

<?xml version="1.0" encoding="UTF-8"?>
  

 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">

  <xs:element name="Dept">		 
    <xs:complexType>
     <xs:all>
      <!--xs:sequence-->
         <xs:element name="id" type="xs:string"/>
	 <xs:element name="Address" type="xs:string"/>
    <!--/xs:sequence-->
    </xs:all>
   </xs:complexType>
 </xs:element>

  
</xs:schema>
