SOA-WebServices/Sample-Projects/XML-Processor/Schema/nameSpaceTest/foo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="CurrentSpace" targetNamespace=".">
	<xs:complexType name="fooType">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="foo1" type="fooType"/>
	<xs:element name="foo2" type="xs:QName"/>
</xs:schema>
