SOA-WebServices/Sample-Projects/AXIS-WebServices-Java/SimpleService/WebContent/wsdl/User.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.com" xmlns:intf="http://server.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getUserName">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserNameResponse">
    <complexType>
     <sequence>
      <element name="getUserNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="readUserNumber">
    <complexType/>
   </element>
   <element name="readUserNumberResponse">
    <complexType>
     <sequence>
      <element name="readUserNumberReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserIncome">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserIncomeResponse">
    <complexType>
     <sequence>
      <element name="getUserIncomeReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserNameRequest">

      <wsdl:part element="impl:getUserName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readUserNumberResponse">

      <wsdl:part element="impl:readUserNumberResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserIncomeRequest">

      <wsdl:part element="impl:getUserIncome" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserIncomeResponse">

      <wsdl:part element="impl:getUserIncomeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readUserNumberRequest">

      <wsdl:part element="impl:readUserNumber" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserNameResponse">

      <wsdl:part element="impl:getUserNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="User">

      <wsdl:operation name="getUserName">

         <wsdl:input message="impl:getUserNameRequest" name="getUserNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserNameResponse" name="getUserNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readUserNumber">

         <wsdl:input message="impl:readUserNumberRequest" name="readUserNumberRequest">

       </wsdl:input>

         <wsdl:output message="impl:readUserNumberResponse" name="readUserNumberResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserIncome">

         <wsdl:input message="impl:getUserIncomeRequest" name="getUserIncomeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserIncomeResponse" name="getUserIncomeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserSoapBinding" type="impl:User">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readUserNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readUserNumberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="readUserNumberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserIncome">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserIncomeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserIncomeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserService">

      <wsdl:port binding="impl:UserSoapBinding" name="User">

         <wsdlsoap:address location="http://localhost:8080/SimpleService/services/User"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
