SOA-WebServices/Sample-Projects/XML-Processor/Schema/Dept1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Dept">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Person" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FirstName" type="xs:string"/>
							<xs:element name="Grade" type="xs:positiveInteger"/>
							<xs:element name="Type" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
