SOA-WebServices/Sample-Projects/XML-Processor/Schema/foo.xsd

<?xml version="1.0" encoding="UTF-8" ?> 

 

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="MyDefNameSpace"
        targetNamespace="ImportedData">

	<xs:element name="foo1" type="fooType" />
	<xs:element name="foo2" type="xs:QName" />
	
	<xs:complexType name="fooType">
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>